@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------
  General
-------------------------------------*/
html {
  height: 100%;
}

body {
  font-family: "Source Sans Pro";
  min-width: 100%;
}

/*-------------------------------------
  Theme
-------------------------------------*/
:root {
  --bg: theme("colors.gray.400");
  --card: theme("colors.gray.300");
  --text: theme("colors.white");
}

.light-theme {
  --bg: theme("colors.gray.50");
  --card: theme("colors.gray.100");
  --text: theme("colors.gray.500");
}
