@tailwind base;
@tailwind components;
@tailwind utilities;


/*-------------------------------------
  Font
-------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

/*-------------------------------------
  General
-------------------------------------*/
html {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
}

/*-------------------------------------
  Theme
-------------------------------------*/
:root {
  --bg: theme("colors.gray.400");
  --card: theme("colors.gray.300");
  --text-primary: theme("colors.white");
  --text-secondary: theme("colors.gray.200");
}

.light-theme {
  --bg: theme("colors.gray.50");
  --card: theme("colors.gray.100");
  --text-primary: theme("colors.gray.500");
  --text-secondary: theme("colors.gray.200");
}

/*-------------------------------------
  HELPERS
-------------------------------------*/
.framed-image {
  @apply shadow-gray-500;
  box-shadow: 0.8rem 0.8rem var(--tw-shadow-color);
}

.paragraph a {
  text-decoration: underline;
}
